.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 120px;
  border-radius: 5px;
  background-color: var(--alt-background-color);
  box-shadow: 3px 3px 2px #999;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.userId {
  font-size: .6rem;
  font-weight: 500;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.userName {
  font-size: .6rem;
  font-weight: 500;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.link {
  font-size: .6rem;
  padding: .5rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-decoration: none;
  margin-top: 5px;
  color: var(--text-color);
  background-color: var(--higlight-color);
  border-radius: 5px;
  width: 80px;
  text-align: center;
}

.checkbox {
  position: absolute;
  top: 6px;
  left: 6px;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  background-color: transparent;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox::after {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--text-color);
  clip-path: polygon(
    0% 40%,
    40% 60%,
    100% 10%,
    100% 30%,
    40% 90%,
    0% 60%
  );
  opacity: 0;
}


.checkbox:checked::after {
  opacity: 1;
}

.checkbox:checked {
  background-color: var(--higlight-color); /* blue background when checked */
}
