.main {
  height: 480px;
  width: 98%;
  overflow: auto;
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
