.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.filter {
  border: none;
  background-color: var(--alt-background-color);
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 550;
  text-align: center;
  padding: 0.8rem;
  max-width: 400px;
  width: 90%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.filter::placeholder {
  color: var(--text-color);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 1%;
  height: 30px;
}

.selectElementsInfo {
  display: flex;
  flex-direction: row;
}

.actionButtons {
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  background: none;
}

.button:hover {
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
}

.hidden {
  opacity: 0;
}